<div class="auth">
  <div class="auth_block_card">
    <div class="logo">
      <img src="assets/img/panel/icon.png" alt="">
    </div>
    <div class="content">
      <p>Введите свою почту</p>
      <form (ngSubmit)="forgot()" #ForgotForm="ngForm">

        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Ваша почта" [(ngModel)]="userData.email"
            class="form-control" #email="ngModel" required>
          <div [hidden]="email.valid || email.pristine" class="valid_form_error">
            Почта обязательна
          </div>
        </div>

        <button type="submit" [disabled]="ForgotForm.form.invalid" id="auth" class="btn auth_block_button">
          Далее &rarr;
        </button>
      </form>
      <div class="form_footer">
        <p>Вспомнили пароль?
          <span [routerLink]="['../sign-in']">Войти</span>
        </p>
      </div>
    </div>
  </div>
</div>