<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card_block_table">
                    <div class="header">
                        <div class="pull-left">
                            <h4 class="title">Список пользователей в системе</h4>
                            <p class="category">Можно посмотреть и изменить любую информацию</p>
                        </div>
                        <div class="pull-right">
                            <button class="mass_delete_button"
                                [ngStyle]="{'display': selectedGroceries.length >= 1 ? 'inline-block' : 'none'}"
                                (click)="deleteMass()">Удалить</button>
                            <button style="margin-right: 20px; width: auto; padding: auto 10px;" type="button"
                                class="create_block_button btn" (click)="openModal(inviteUserTemplate)">
                                Пригласить пользователя
                            </button>
                            <button type="button" class="create_block_button btn" (click)="openModal(addUserTemplate)">
                                Создать пользователя
                            </button>
                        </div>
                        <input #input [(ngModel)]="params.name" class="header-search"
                            placeholder="Начните вводить имя фамилию или Эл. почту">
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <owl-check-box [(ngModel)]="fruitChecked" [(indeterminate)]="fruitIndeterminate"
                                            (change)="toggleFruitCheck($event)">
                                        </owl-check-box>
                                    </th>
                                    <th *ngFor="let cell of tableHeader">
                                        <p *ngIf="!cell.icon">{{cell.name}}</p>
                                        <div style="text-align: left; margin-left: -5px; width: 25px;" *ngIf="cell.icon"
                                            [owlTooltip]="cell.name">
                                            <img style="height: 25px;" [src]="cell.icon" alt="">
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of list; trackBy:row?.id"
                                    [ngClass]="{'checkedOn': row.id === checked(row.id)}">
                                    <td>

                                        <owl-check-box [(ngModel)]="selectedGroceries" [binary]="false"
                                            [name]="'grocery'" [value]="row.id" (change)="onFruitChange($event)">
                                        </owl-check-box>
                                    </td>
                                    <td>{{row.surname}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.email}}</td>
                                    <td>

                                        <owl-check-box name="verified" [checked]="row.verified" [value]="row.verified"
                                            (change)="verifiedChange($event, row.id)">
                                        </owl-check-box>
                                    </td>
                                    <td>

                                        <owl-check-box name="certified" [checked]="row.certified"
                                            [value]="row.certified" (change)="certifiedChange($event, row.id)">
                                        </owl-check-box>
                                    </td>
                                    <td>{{row.inviter? row.inviter : '-'}}</td>
                                    <td>{{row.role.name}}</td>
                                    <td>
                                        <a style="cursor: pointer" (click)="openModal(addUserTemplate,row)">
                                            <img src="assets/img/edit.svg" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <a style="cursor: pointer" (click)="destroyModal(confirmDelete,row)"
                                            tooltip="Удалить файл">
                                            <img src="assets/img/delete.svg" alt="">
                                            <!--<i-->
                                            <!--class="pe-7s-trash"></i>-->
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="pagination_block">
                    <pagination [maxSize]="6" previousText="Назад" nextText="Далее" firstText="Начало"
                        lastText="Последний" [itemsPerPage]="itemsPerPage" [boundaryLinks]="boundaryLinks"
                        [totalItems]="totalItems" [(ngModel)]="params['page']" (pageChanged)="pageChanged($event)">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<ng-template #inviteUserTemplate>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-header template_crud_header_block">
        <h4 class="modal-title pull-left">Пригласить пользователя</h4>
    </div>
    <div class="modal-body template_crud_body_block">
        <form (ngSubmit)="invite()" #InviteUserForm="ngForm">
            <div class="form-group">
                <label for="email">Почта</label>
                <input #email2="ngModel" type="email" class="form-control" id="email2" placeholder="name@example.com"
                    [(ngModel)]="email" name="email2" required>
                <div [hidden]="email2.valid || email2.pristine" class="valid_form_error">
                    Почта обязательна
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="InviteUserForm.form.invalid"
                    class="button_template_form form-control btn">
                    Пригласить
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #addUserTemplate>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-header template_crud_header_block">
        <h4 class="modal-title pull-left">Пользователь</h4>
    </div>
    <div class="modal-body template_crud_body_block">
        <form (ngSubmit)="create()" #UserListForm="ngForm">
            <div class="form-group">
                <label for="name">Имя</label>
                <input #name="ngModel" type="text" class="form-control" name="name" [(ngModel)]="entity.name" id="name"
                    required>
                <div [hidden]="name.valid || name.pristine" class="valid_form_error">
                    Имя обязательное
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Фамилия</label>
                <input #surname="ngModel" type="text" class="form-control" id="surname" [(ngModel)]="entity.surname"
                    name="surname" required>
                <div [hidden]="surname.valid || surname.pristine" class="valid_form_error">
                    Фамилия обязательна
                </div>
            </div>
            <div class="form-group">
                <label for="email">Почта</label>
                <input #email="ngModel" type="email" class="form-control" id="email" placeholder="name@example.com"
                    [(ngModel)]="entity.email" name="email" required>
                <div [hidden]="email.valid || email.pristine" class="valid_form_error">
                    Почта обязательна
                </div>
            </div>
            <div class="form-group">
                <label for="role_id">Роль</label>
                <select class="form-control" #role_id="ngModel" id="role_id" [(ngModel)]="entity.role_id" name="role_id"
                    required>
                    <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="entity.password" name="password">
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="UserListForm.form.invalid"
                    class="button_template_form form-control btn">
                    Сохранить
                </button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #confirmDelete>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body top_space" style="text-align: center">
        <h4 class="modal-title">Подтвердите действие</h4>
        <p>Вы действительно хотите удалить запись?</p>
        <div class="float-right">
            <button style="width: 140px" type="button" class="btn " (click)="destroy()">Да</button>
            <button style="width: 140px" type="button" class="btn " (click)="modalRef.hide()">Нет</button>
        </div>

    </div>
</ng-template>